<!DOCTYPE html>
<html lang="en">
<head>

    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site title -->
    <title>Solanki Infotech</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="Content/theme/images/favicon.png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans%7CRaleway%7CRoboto%7CRaleway" rel="stylesheet">

    <!-- Bootstrap css -->
    <link href="Content/theme/css/bootstrap.min.css" rel="stylesheet">

    <!--Font Awesome css -->
    <link rel="stylesheet" href="Content/theme/fonts/fontawesome/css/font-awesome.min.css">

    <!-- Normalizer css -->
    <link href="Content/theme/css/normalize.css" rel="stylesheet">

    <!-- Lightbox css -->
    <link href="Content/theme/css/lightbox.css" rel="stylesheet">

    <!-- Site css -->
    <link href="Content/theme/css/style.css" rel="stylesheet">

    <!-- Responsive css -->
    <link href="Content/theme/css/responsive.css" rel="stylesheet">

    <!-- OWL Corousel for blog listing -->
    <link rel="stylesheet" href="Content/theme/css/owl.carousel.min.css">

    <!-- Glyphicons -->
    <style type="text/css">
        font-family: 'Glyphicons Halflings'; src: url('http://wpplayers.com/fonts/glyphicons-halflings-regular.eot'); .auto-style1 {
            margin-top: 2px;
        }
    </style>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- Latest jQuery -->
    <script src="Content/theme/js/jquery.min.js"></script>
    <!-- Bootstrap js-->
    <script src="Content/theme/js/bootstrap.min.js"></script>

    <!-- Stikcy menu js -->
    <script src="Content/theme/js/jquery.sticky.js"></script>

    <!-- Main js-->
    <script src="Content/theme/js/main.js"></script>

    <!-- Isotope js -->
    <script src="Content/theme/js/isotope.pkgd.js"></script>

    <!-- Lightbox js -->
    <script src="Content/theme/js/lightbox.js"></script>

    <!-- Waypoint -->
    <script src="Content/theme/js/jquery.waypoint.js"></script>

    <!-- OWL Corousel for blog listing -->
    <script src="Content/theme/js/owl.carousel.min.js"></script>

    <!-- Magnific Popup  -->
    <script src="../../cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js">
    </script>

    <!-- Mixitup  -->
    <script src="../../cdnjs.cloudflare.com/ajax/libs/mixitup/2.1.11/jquery.mixitup.min.js">
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAU7mqlMQRRabPVP1EtW-D0wIh2rJlwEkU&amp;callback=initMap" async defer></script>
    <script type="text/javascript">

         function initialize() {
             var mapCanvas = document.getElementById('map');
             var mapOptions = {
                 center: new google.maps.LatLng(28.444989, 77.024750),
                 zoom: 15,
                 mapTypeId: google.maps.MapTypeId.ROADMAP
             }
             var map = new google.maps.Map(mapCanvas, mapOptions);
             var myLatlng = new google.maps.LatLng("28.444989", "77.024750");
             var marker = new google.maps.Marker({
                 position: myLatlng,
                 map: map,
                 title: "Solanki Infotech Pvt. Ltd."
             });

         }
         google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <script>
        $(document).ready(function () {
            $("#btnsend").click(function () {
                if ($('#name').val() == "") {
                    alert("Name is required.")
                    $('#name').focus()
                    return false
                }
                if ($('#mobile').val() == "") {
                    alert("mobile number is required.")
                    $('#mobile').focus()
                    return false
                }
                else {
                    var mobilenum = $('#mobile').val();
                    if (/^\d{10}$/.test(mobilenum)) {
                        // value is ok, use it
                    } else {
                        alert("Invalid mobile number must be ten digits")
                        $('#mobile').focus()
                        return false
                    }
                }
                if ($('#email').val() == "") {
                    alert("email is required.")
                    $('#email').focus()
                    return false
                }
                else {
                    var email = $('#email').val();
                    var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
                    if (pattern.test(email)) {
                        // value is ok, use it
                    } else {
                        alert("Invalid email Address must be correct format")
                        $('#email').focus()
                        return false
                    }
                }
                if ($('#message').val() == "") {
                    alert("message is required.")
                    $('#message').focus()
                    return false
                }
                else {
                    var RequestData = {
                        "Name": $('#name').val(),
                        "MobileNo": $('#mobile').val(),
                        "Email": $('#email').val(),
                        "Message": $('#message').val()
                    };

                    $.ajax({
                        type: 'POST',
                        url: '/Home/SaveEnquiries',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(RequestData),
                        datatype: 'json',
                        async: false,
                        success: function (data) {
                            if (data == "success") {
                                $('#name').val("");
                                $('#email').val("");
                                $('#mobile').val("");
                                $('#message').val("");
                                alert("Enquiry has been send successfully.");
                            }
                        },
                        error: function () {
                            alert("Enquery error");
                        }
                    });
                }
            });
        });
    </script>
</head>

<body>
    @RenderBody()
    <header id="home">

        <div class="container-fluid slider-area">

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                    <div class="item active">
                        <div class="overlay"></div>
                        <img src="Content/theme/images/slider-1.png" alt="Los Angeles">
                        <div class="carousel-caption">
                            <h3>Start Website</h3>
                            <p>Get Business Worldwide!</p>
                        </div>
                    </div>
                  
                    <div class="item">
                        <div class="overlay"></div>
                        <img src="Content/theme/images/slider-2.jpg" alt="Chicago">
                        <div class="carousel-caption">
                            <h3>Start Window Software</h3>
                            <p>Get Business Worldwide!</p>
                        </div>
                    </div>

                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
            <!-- #myCarousel -->

            <div class="nav-container">
                <nav class="navbar navbar-default navbar-opus">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">
                                <img src="Content/theme/images/logo.png" alt="logo">
                            </a>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active"><a href="#home">Home</a></li>
                                <li><a href="#about">About</a></li>
                                @*<li>
                                    <a href="#service" data-toggle="dropdown" class="dropdown-toggle">Services <b class="caret"></b></a>
                                    <ul class="dropdown-menu" style=" z-index:111111;">
                                        <li><a href="#">Software Development</a></li>
                                        <li><a href="#">Static web site </a></li>
                                        <li><a href="#">Dynamic  web site </a></li>
                                        <li><a href="#">Payment gateway</a></li>
                                        <li><a href="#">Domain</a></li>
                                        <li><a href="#">Hosting </a></li>
                                        <li><a href="#">SMS integratio </a></li>
                                        <li><a href="#">Mobile app</a></li>
                                        <li><a href="#">Ecommerce solution</a></li>
                                    </ul>
                                </li>*@
                                <li><a href="#services">Services</a></li>
                                <li><a href="#product">Products</a></li>
                               
                                @*<li>
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Products <b class="caret"></b></a>
                                    <ul class="dropdown-menu" style=" z-index:111111;">
                                        <li><a href="#">ERP – EMS(Education Management system)</a></li>
                                        <li><a href="#">HRMS (Human resource Management system ) </a></li>
                                        <li><a href="#">HMS (Hospital Management system) </a></li>

                                    </ul>
                                </li>*@

                                
                                @*<li><a href="#portfolio">Portfolio</a></li>*@   
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- .navbar-opus -->
            </div>

        </div>
        <!-- .slider-area -->

    </header>
    <!-- Header Ends -->
    <!-- About Section -->
    <section id="about" class="about-area section">
        <div class="container">
            <!-- Section Title -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>WELCOME TO <span class="grey">SOLANKI INFOTECH </span></h2>
                    </div>
                </div>
            </div>

            <!-- Section Description -->
            <div class="row">
                <div class="col-md-12  text-center">
                    <div class="section-desc" style="text-align: justify;">
                        <h4>
                            Solanki infotech - As our company name indicates we are software consulting and internet services globally.
                            We are one of the fastest growing organizations in internet marketing with client base all over the world.
                            <br>
                            <br>
                            We at solanki infotech have been able to create a highly fulfilling workplace.
                            Our desks are rated to be one of the most wanted ones in this industry and this does give an extra edge to our organization.
                            Reaching out to large and small companies alike, providing solutions to enable them to grow in the online school and collage business with minimal
                            investment, no need for programmers or IT personal or expensive servers and hosting.<br>
                            <br>
                            We invite you to contact us with your requirements and assure you that we will endeavour to the best of our abilities to provide you the
                            solution you need in a timely and cost effective manner – You will not be disappointed by your experience.
                        </h4>
                    </div>
                </div>
            </div>

            <!-- 3 Features -->
            <div class="row feature-area">
                <!-- 1st Feature -->
                <div class="col-md-4 feature-bottom">
                    <div class="row">
                        <div class="col-md-3 icon-feature">
                            <i class="fa fa-bullhorn"></i>
                        </div>
                        <div class="col-md-9 feature">
                            <h5>Boost Your Business</h5>
                            <p>Boost Your Business events give small businesses like yours a chance to interact with other local businesses, partners and small business experts from Facebook, Google, and twitter. </p>
                        </div>
                    </div>
                </div>

                <!-- 2nd Feature -->
                <div class="col-md-4 feature-bottom">
                    <div class="row">
                        <div class="col-md-3 icon-feature">
                            <i class="fa fa-bar-chart "></i>
                        </div>
                        <div class="col-md-9 feature">
                            <h5>Best Branding Service</h5>
                            <p>Solanki Infotech is a multi award-winning strategic design and development company specialising in brands; creating identities, brand architecture and packaging.</p>
                        </div>
                    </div>
                </div>

                <!-- 3rd Feature -->
                <div class="col-md-4 feature-bottom">
                    <div class="row">
                        <div class="col-md-3 icon-feature">
                            <i class="fa fa-bell-slash"></i>
                        </div>
                        <div class="col-md-9 feature">
                            <h5>24/7 Online Support</h5>
                            <p>We will support your business 24/7.</p>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </section>


    <!-- Services Section -->
    <section id="services" class="about-area section">
        <div class="container">
            <!-- Section Title -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>OUR <span class="grey">SERVICES</span></h2>
                    </div>
                </div>
            </div>

            <!-- Section Description -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="section-desc ">
                        <h4>We are leading Microsoft.net Application Development Company in India, provide customized and effective asp.net web application development services. We are dedicated to providing you customized and affordable SEO packages to assist you achieve the best results. we are provide to web basied software for school, Collage, And ITI. Application development is associated with higher responsibility as it requires capturing and testing techniques also. Customers look for appropriate and exact software solution and are always obsessed by the latest in technology. We keep upgrading  our application development services for increased functionality expectations and to protect against constantly evolving threats. </h4>
                    </div>
                </div>
            </div>

            <!-- Services with Image -->
            <div class="row">

                <div class="col-md-12">
                    <div class="row">
                        <!-- Service 1 -->
                        <div class="col-md-4 ">
                            <div class="service">
                                <i class="icon-service fa fa-desktop"></i>
                                <h5>Software Development</h5>
                                <p>A Solanki Infotech software development company, web & window Applications development.</p>
                            </div>
                        </div>

                        <!-- Service 2 -->
                        <div class="col-md-4 ">
                            <div class="service">
                                <i class="icon-service fa  fa-tasks"></i>
                                <h5>Static web site </h5>
                                <p>Static web pages are suitable for the contents that never or rarely need to be updated.</p>
                            </div>
                        </div>

                        <!-- Service 3 -->
                        <div class="col-md-4 ">
                            <div class="service">
                                <i class="icon-service fa  fa-codepen"></i>
                                <h5>Dynamic  web site </h5>
                                <p>A server-side dynamic web page is a web page whose construction is controlled by the end user gets one dynamic page managed in the web browser.</p>
                            </div>
                        </div>

                    </div>

                    <div class="row">


                        <!-- Service 4 -->
                        <div class="col-md-4 ">
                            <div class="service">
                                <i class="icon-service fa  fa-credit-card"></i>
                                <h5>Payment gateway</h5>
                                <p>we are developing many more type of development of the payment Integration like VISA,MASTER CARD, DEBET CARD, and CREDIT CARD etc.</p>
                            </div>
                        </div>

                        <!-- Service 5 -->
                        <div class="col-md-4 ">
                            <div class="service">
                                <i class="icon-service fa  fa-at"></i>
                                <h5>Domain</h5>
                                <p>The domain content types module is add on for Domain Access which allows you purchase many more type of domain. </p>
                            </div>
                        </div>

                        <!-- Service 6 -->
                        <div class="col-md-4 ">
                            <div class="service">
                                <i class="icon-service fa  fa-server"></i>
                                <h5>Hosting </h5>
                                <p>we will provide the space of the server. you can host your application faster, reliable, and responsible website. </p>
                            </div>
                        </div>


                    </div>


                    <div class="row">


                        <!-- Service 7 -->
                        <div class="col-md-4 ">
                            <div class="service">
                                <i class="icon-service fa  fa-envelope"></i>
                                <h5>SMS/EMAIL Integration</h5>
                                <p>Email to SMS allows your business to growth the benefits of SMS messaging to your email address.</p>
                            </div>
                        </div>

                        <!-- Service 8 -->
                        <div class="col-md-4 ">
                            <div class="service">
                                <i class="icon-service fa  fa-mobile	"></i>
                                <h5>Mobile Application</h5>
                                <p>we are development of the many more mobile application. your can use easy and less spent the money.</p>
                            </div>
                        </div>

                        <!-- Service 9 -->
                        <div class="col-md-4 ">
                            <div class="service">
                                <i class="icon-service fa  fa-shopping-cart"></i>
                                <h5>Ecommerce solution     </h5>
                                <p>Ecommerce website builder & online shopping cart system that has every features.</p>
                            </div>
                        </div>


                    </div>



                </div>
            </div>

        </div>
    </section>


    <!-- Pricing Section -->
    <section id="product" class="pricing-area section">
        <div class="container">
            <!-- Section Title -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>OUR <span class="grey">PRODUCTS</span></h2>
                    </div>
                </div>
            </div>



            <!-- Pricing Columns -->
            <!-- Pricing Column 1 -->
            <div class="columns">
                <ul class="price">
                    <li>
                        <div class="head">ERP – EMS(Education Management system) </div>
                    </li>
                    <li style="padding: 0px;">
                        <img class="" src="Content/theme/images/ERP.jpg" alt="post-thumbnail" style="width: 100%;">
                    </li>
                    <li><a href="#">CLICK HERE</a></li>
                </ul>
            </div>
            <!-- Pricing Column 2 -->
            <div class="columns">
                <ul class="price">
                    <li>
                        <div class="head">HRMS (human resource Management system ) </div>
                    </li>
                    <li style="padding: 0px;">
                        <img class="" src="Content/theme/images/HRMS.JPG" alt="post-thumbnail" style="width: 100%;">
                    </li>
                    <li><a href="#">CLICK HERE</a></li>
                </ul>
            </div>
            <!-- Pricing Column 3 -->
            <div class="columns">
                <ul class="price">
                    <li>
                        <div class="head">HMS (Hospital Management system) </div>
                    </li>
                    <li style="padding: 0px;">
                        <img class="" src="Content/theme/images/hms.jpg" alt="post-thumbnail" style="width: 100%;">
                    </li>
                    <li><a href="#">CLICK HERE</a></li>
                </ul>
            </div>

        </div>
    </section>

    <!-- Portfolio Area -->
    @*<section id="portfolio" class="portfolio-area section">
        <div class="container">
            <!-- Section Title -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>OUR <span class="grey">PORTFOLIO</span></h2>
                    </div>
                </div>
            </div>

            <!-- Section Description -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="section-desc ">
                        <h4>Lorem ipsum scelerisque molestie id molestie magna ante etiam sollicitudin tempus consectetur conubia, urna eros </h4>
                    </div>
                </div>
            </div>

            <!-- Portfolio with Filter -->

            <div>
                <button class="btn btn-default filter-button active" data-filter="all">All</button>
                <button class="btn btn-default filter-button" data-filter="branding">Branding</button>
                <button class="btn btn-default filter-button" data-filter="graphic">Graphics</button>
                <button class="btn btn-default filter-button" data-filter="webdesign">Web design</button>
            </div>
            <br />

            <div class="row portfolio-top">
                <!-- Portfolio Item 1 -->
                <div class="col-md-3 filter branding">
                    <div class="each-item">
                        <img class="port-image" src="Content/theme/images/portfolio1.png" alt="portfolio">
                        <div class="cap1">
                            <p>Brading Interior design</p>
                            <h3>BRANDING</h3>
                            <ul>
                                <li>
                                    <a href="Content/theme/images/portfolio1big.png" data-lightbox="roadtrip">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Item 2 -->
                <div class="col-md-3 filter graphic">
                    <div class="each-item">
                        <img class="port-image" src="Content/theme/images/portfolio2.png" alt="portfolio1">
                        <div class="cap1">
                            <p>Graphic design</p>
                            <h3>GRAPHICS</h3>
                            <ul>
                                <li>
                                    <a href="Content/theme/images/portfolio2big.png" data-lightbox="roadtrip">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Item 3 -->
                <div class="col-md-3 filter webdesign">
                    <div class="each-item">
                        <img class="port-image" src="Content/theme/images/portfolio3.png" alt="portfolio2">
                        <div class="cap1">
                            <p>Website design</p>
                            <h3>WEBSITE</h3>
                            <ul>
                                <li>
                                    <a href="Content/theme/images/portfolio3big.png" data-lightbox="roadtrip">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Item 4 -->
                <div class="col-md-3 filter graphic branding">
                    <div class="each-item">
                        <img class="port-image" src="Content/theme/images/portfolio4.png" alt="portfolio3">
                        <div class="cap1">
                            <p>Graphics branding design</p>
                            <h3>GRAPHIC</h3>
                            <ul>
                                <li>
                                    <a href="Content/theme/images/portfolio4big.png" data-lightbox="roadtrip">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Item 5 -->
                <div class="col-md-3 filter webdesign graphic">
                    <div class="each-item">
                        <img class="port-image" src="Content/theme/images/portfolio5.png" alt="portfolio4">
                        <div class="cap1">
                            <p>Website design</p>
                            <h3>WEBSITE</h3>
                            <ul>
                                <li>
                                    <a href="Content/theme/images/portfolio5big.png" data-lightbox="roadtrip">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Item 6 -->
                <div class="col-md-3 filter branding">
                    <div class="each-item">
                        <img class="port-image" src="Content/theme/images/portfolio6.png" alt="portfolio5">
                        <div class="cap1">
                            <p>Braning design</p>
                            <h3>BRANDING</h3>
                            <ul>
                                <li>
                                    <a href="Content/theme/images/portfolio6big.png" data-lightbox="roadtrip">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Item 7 -->
                <div class="col-md-3 filter graphic">
                    <div class="each-item">
                        <img class="port-image" src="Content/theme/images/portfolio7.png" alt="portfolio5">
                        <div class="cap1">
                            <p>Graphic design</p>
                            <h3>GRAPHICS</h3>
                            <ul>
                                <li>
                                    <a href="Content/theme/images/portfolio7big.png" data-lightbox="roadtrip">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Item 8 -->
                <div class="col-md-3 filter webdesign">
                    <div class="each-item">
                        <img class="port-image" src="Content/theme/images/portfolio8.png" alt="portfolio5">
                        <div class="cap1">
                            <p>Web design</p>
                            <h3>WEB DESIGN</h3>
                            <ul>
                                <li><a href="Content/theme/images/portfolio8big.png" data-lightbox="roadtrip"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.google.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>*@




    <!-- Social Icons -->
    <section id="social" class="social-area section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6 col-md-offset-3 social-bar">

                        <!-- Social Title-->
                        <div class="col-xs-12 col-md-5 social">
                            <h3>Follow Us </h3>
                        </div>
                        <!-- .social -->

                        <div class="col-xs-12 col-md-7 socialicons">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="https://facebook.com/">
                                        <i class="fa fa-facebook-square s-icon"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://facebook.com/">
                                        <i class="fa fa-twitter-square s-icon"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://facebook.com/">
                                        <i class="fa fa-instagram s-icon"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://facebook.com/">
                                        <i class="fa fa-linkedin-square s-icon"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- .social-area -->
    <!-- Contact Section -->
    <section id="contact" class="section-contact">
        <div class="container contact-fullwidth">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6 contact-container">
                        <!-- Contact Title -->
                        <div class="section-title-contact">
                            <h2>CONTACT US</h2>
                            <p>Feel Free to contact Us</p>
                        </div>

                        <div class="row">
                            <!-- Contact Form -->
                            <form id="form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name"  placeholder="Enter Name" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="mobile" placeholder="Enter Mobile" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="email" placeholder="Enter Email" />
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" id="message" placeholder="Enter Message"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="button" class="btn btn-opus" value="Send Message" id="btnsend" />
                                    </div>
                                </div>

                            </form>


                            <!-- Contact Address -->
                            <div class="col-md-6 ">
                                <ul class="address-opus">
                                    <li>
                                        <i class="fa fa-map-marker a-icon"></i>Address :
                                        <br>
                                        215/9 Hans Enclave Gurgoan 122001
                                    </li>
                                    <li>
                                        <i class="fa fa-headphones a-icon"></i>Call Us :
                                        <br>
                                        +91 813-094-7758
                                        <i class="fa fa-mobile a-icon"></i>
                                        <br>
                                        +91 966-090-0133
                                    </li>
                                    <li>
                                        <i class="fa fa-share a-icon"></i>Mail :
                                        <br>
                                        support@solankiinfotech.in
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>
                    <!-- .contact-container -->
                    <!-- Google Map -->
                    <div class="col-md-6 map-opus">

                        <div id="map"></div>

                    </div>

                </div>
            </div>
        </div>
        <!-- .contact-fullwidth -->
    </section>

    <!-- Footer -->
    <footer class="footer-opus">
        <div class="container footer-container" style="padding-top: 0px;">

            <!-- Footer Copyright -->
            <div class="row copyright-opus">
                <p>
                    &copy; 2017 <a href="#">SOLANKI INFOTECH</a>, ALL RIGHTS RESERVED.
                </p>
            </div>
        </div>
        <!-- .footer-container -->
    </footer>
</body>
</html>